* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #88b04b;
    color: #ffffee;
    padding: 0 40px;
}


.container {
    margin: 40px auto;
    padding: 20px;
    line-height: 1.5em;
    border-radius: 5px;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    
}

.my-form {
    padding: 0 0 20px 0;
}

#filter {
    margin: 10px;
    height: 40px;
    width: 300px;
}

#header-title{
    font-weight: bolder;
    margin: 10px;
}

#h2 {
    font-weight: bolder;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}
